@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
border: 1px solid red;
} */

body{
  background-color: #242422;
}

p, h1, p {
  color: #ccc5b9;
}

a{
  color: #f2cc8f
}

input::placeholder{
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: #4d4d4c;  
}